<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Drought in America</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/ionicons.min.css')}}" />

    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">

  </head>
  <body>

    <header>
      <div id="title">
        <h1>Drought in America</h1>
      </div>

      <div id="intro">
        <p>Since 2011, California has been experiencing one of the worst droughts in its recorded history. But, Californians aren’t the only Americans who have had to grapple with the water shortages, agriculture crises, and extreme weather patterns that all result from drought.</p>

        <p>Drought is inherently part of the ebb and flow of North American weather.</p>

        <p>Scroll down to see these cycles in action. Watch droughts throughout the United States grow and shrink or select a specific date to see a snapshot from the past 15 years.</p>
      </div>

      <div id="down">
        <a class="ion-chevron-down" href="#main"></a>
      </div>
    </header>

    <section id="main">
      <div class="choro-container">
        <h1><span class="brown">Drought</span> Over Time</h1>
        <div id="choro">
        </div>

        <h2 id="choro-title"></h1>
        <form>
          <input type="range" min="0" max="774" value="0" disabled="true">
        </form>
        <button id="start" type="button" value="pause">Pause</button>
      </div>
      <div class="choro-info">
        <p>The data here ranges from January 2000 to November 2014. Look below the graph to follow the changes over time or pause the cycle. Use the menu below to select a specific date or change the cycle intervals.</p>

        <hr />

        <div class="select-area">
          <h3>Select A Date</h3>

          <form>
            <input id="vizdate" type="date" name="vizdate" min="2000-01-01" value>
            <br />
            <button id="date-submit" type="button" value="submit" onclick="updateForSelectedDate()">Submit</button>
          </form>

          <hr />

          <h3>Cycle Time - <span id="cycle-time"></span> seconds</h3>

          <form>
            <select id="cycle-time-select">
              <option value="750">0.75 seconds</option>
              <option value="1000">1 seconds</option>
              <option value="1500">1.5 seconds</option>
              <option value="2000">2 seconds</option>
              <option value="2500">2.5 seconds</option>
              <option value="3000">3 seconds</option>
              <option value="3500">3.5 seconds</option>
              <option value="4000">4 seconds</option>
              <option value="4500">4.5 seconds</option>
              <option value="5000">5 seconds</option>
              <option value="5500">5.5 seconds</option>
              <option value="6000">6 seconds</option>
              <option value="6500">6.5 seconds</option>
              <option value="7000">7 seconds</option>
              <option value="7500">7.5 seconds</option>
              <option value="8000">8 seconds</option>
              <option value="8500">8.5 seconds</option>
              <option value="9000">9 seconds</option>
              <option value="9500">9.5 seconds</option>
              <option value="10000">10 seconds</option>
            </select>

            <br />

            <button id="cycle-submit" type="button" value="submit">Change Cycle Time</button>
          </form>

          <hr />

          <h3>The Scale</h3>

          <ul>
            <li style="background-color: #e2b6a8">No Drought</li>
            <li style="background-color: #d3927d">D0 - Abnormally Dry</li>
            <li style="background-color: #c56d51">D1 - Moderate Drought</li>
            <li style="background-color: #b64926">D2 - Severe Drought</li>
            <li style="background-color: #89371c">D3 - Extreme Drought</li>
            <li style="background-color: #5b2513">D4 - Exceptional Drought</li>
          </ul>
        </div>
      </div>
    </section>

    <footer>
      <p>This visualization would not be possible without the efforts of the <a target="_blank" href="http://droughtmonitor.unl.edu/">United States Drought Monitor</a>, which has maintained a superb database of drought data since 2000. To learn more about the ongoing drought in California and how you can help, visit <a target="_blank" href="http://ca.gov/drought/">California's State Drought Portal</a>.</p>

      <p>Designed &amp; Built By: <a href="http://www.ceskavich.com/">Billy Ceskavich.</a> View the source <a href="https://github.com/bceskavich/us-drought">on GitHub</a>.</p>
    </footer>


    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
